<div class="mt-4">
    <h3>Department</h3>

    <form method="post" action="/departments/store">
  <div class="form-group">
    <label for="name">Tag</label>
    <input type="text" class="form-control" id="Tag" name="Tag">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
