<div class="mt-4">
    <h3>Cập nhật khóa nhá</h3>

    <form class="mt-4" method="post" action="/departments/{{department._id}}?_method2=PUT">
  <div class="form-group">
    <label for="name"> Tag</label>
    <input type="text" class="form-control" value="{{department.Tag}}" id="Tag" name="Tag">
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>